@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.email-list {
  display: flex;
  flex-direction: column;
}

.email-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.email-card:hover {
  background-color: #f0f0f0;
}

.email-header {
  font-weight: bold;
}

.email-body {
  color: #666;
}
.email-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.email-list {
  flex: 1;
  /* Add styling for your email list here */
}

.email-preview {
  position: absolute;
  top: 0;
  right: 0;
  width:30%; /* Adjust the width as needed */
  height: 60vh; /* Adjust the height as needed */
  background-color : black; /* Example background color */
  border: 1px solid #ccc;
  overflow: auto; /* Add scroll if content overflows */
  padding: 10px; /* Add padding as needed */
  z-index: 1; /* Ensure the preview is above the email list */
}
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #888;
}

.email-details-container.show {
  opacity: 1;
  transform: translateX(0);
}

.email-details-container.hide {
  opacity: 0;
  transform: translateX(100%);
}
@media (max-width: 768px) {
  .email-details-container {
    width: 60vh !important;
    background-color: gray;
      }
      
}


